.button {
  height: 32px;
  border-radius: var(--radius-md);
  padding: 0 var(--space-4);
  /* only horizontal padding now */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background: var(--bg-accent);
  color: var(--accent-text);
}

.ghost {
  background: transparent;
  color: var(--text-primary);
  border: 0.5px solid var(--border-default);
}

.button:disabled {
  background: var(--bg-accent);
  color: var(--text-disabled);
  cursor: not-allowed;
  border-color: transparent;
}

.button:hover:not(:disabled) {
  color: var(--text-primary);
  background: var(--accent-solid);
}

.primary:hover:not(:disabled) {
  color: var(--text-primary);
  background: var(--accent-solid);
  /* filter: brightness(1.1); */
}

.ghost:hover:not(:disabled) {
  color: var(--text-primary);
  background: var(--accent-solid);
}