.rudus-button {
  height: 32px;
  border-radius: var(--radius-md);
  padding: 0 var(--space-4);
  /* only horizontal padding now */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rudus-primary {
  background: var(--bg-accent);
  color: var(--accent-text);
}

.rudus-ghost {
  background: transparent;
  color: var(--text-secondary);
  border: var(--border-width-thin) solid var(--border-default);
}

.rudus-button:disabled {
  background: var(--bg-elevated);
  color: var(--text-secondary);
  cursor: not-allowed;
  border-color: transparent;
}

.rudus-primary:hover:not(:disabled) {
  color: var(--text-primary);
  background: var(--accent-solid);
  /* filter: brightness(1.1); */
}

.rudus-ghost:hover:not(:disabled) {
  background: var(--bg-elevated);
  filter: brightness(1.1)
}